/* Path: fyp/public/import/style.css */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}
/* 
.container {
    width: 80%;
    margin: 0 auto;
} */

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

header h1 {
    margin: 0;
    padding: 0;
    font-size: 24px;
    font-weight: 400;
}


h2, h3 {
    margin-top: 30px;
    margin-bottom: 10px;
}

h4{
    margin-top: 60px;
    margin-bottom: 10px;
    font-size: 24px;

}
main {
    padding: 20px 0;
}

/*card {
    background-color: #d6caca;
    padding: 10px;
    margin-bottom: 0px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}*/

/* .link {
    display: flex;
    align-items: left;
    justify-content: left;
}

.link i {
    margin-right: 10px;
} */
